<!--
    @description: Job application page where users fill in a form about their professional experience.
    @author: Tien Han
    @date: 5/26/2024
-->

<include href="views/header.html"></include>

<body>
    <!--  Navbar  -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="text-reset text-decoration-none" type="text/html" href="{{ @BASE }}">
                            <h5>Deep Rock Galactic</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="text-reset text-decoration-none" type="text/html" href="{{ @BASE }}">
                            <h4>Engineer (Full-time role, in person)</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <h6>Hoxxes IV, Paid per mission</h6>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid form-container">
        <h1>Experience</h1>
        <hr>

        <!--Experience Form-->
        <form action="#" method="post">
            <div class="row">
                <div class="col-8">
                    <label for="biography" class="form-label"><b>Biography</b></label>
                    <textarea class="form-control" name="biography" id="biography" rows="9" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">{{ @SESSION.biography }}</textarea>
                </div>
                <div class="col-4">
                    <label for="github" class="form-label"><b>GitHub Link</b></label>
                    <span class="text-danger">{{ @SESSION.githubError }}</span>
                    <input class="form-control" name="github" id="github" type="text" placeholder="github.com/my_github"
                        value="{{ @SESSION.github }}">

                    <!--Years of Experience Radio buttons-->
                    <p class="form-label mt-3 mb-0"><b>Years Experience* </b><span class="text-danger">{{ @SESSION.experienceError }}</span></p>
                    <repeat group="{{ $yearsExperience }}" value="{{ @years }}">
                        <check if="{{ isset(@SESSION.experience) && @SESSION.experience == @years}}">
                            <true>
                                <input type="radio" id="{{ @years }}" name="years_experience" value="{{ @years }}" checked="checked" required>
                                <label class="form-label me-3" for="{{ @years }}">{{ @years }}</label>
                            </true>
                            <false>
                                <input type="radio" id="{{ @years }}" name="years_experience" value="{{ @years }}" required>
                                <label class="form-label me-3" for="{{ @years }}">{{ @years }}</label>
                            </false>
                        </check>
                    </repeat>

                    <!--Willing to Relocate Radio buttons-->
                    <p class="form-label mt-3 mb-0"><b>Willing to Relocate* </b><span class="text-danger">{{ @SESSION.relocationError }}</span></p>
                    <repeat group="{{ $willingToRelocate}}" value="{{ @relocate }}">
                        <check if="{{ isset(@SESSION.relocate) && @SESSION.relocate == @relocate}}">
                            <true>
                                <input type="radio" id="{{ @relocate }}" name="relocate" value="{{ @relocate }}" checked="checked" required>
                                <label class="form-label me-3" for="{{ @relocate }}">{{ @relocate }}</label>
                            </true>
                            <false>
                                <input type="radio" id="{{ @relocate }}" name="relocate" value="{{ @relocate }}" required>
                                <label class="form-label me-3" for="{{ @relocate }}">{{ @relocate }}</label>
                            </false>
                        </check>
                    </repeat>

                    <div class="d-grid mt-2">
                        <button class="applyNow btn-block w-100" type="submit">Next ></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--  Scripts  -->
    <!--  Bootstrap CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>